name: Format and Lint
on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Checks
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.12
      - run: pip install --upgrade pip
      - run: pip install pipenv
      - run: pipenv install black mypy pylint
      - run: pipenv run black --diff --check $(git ls-files '*.py')
      - run: pipenv run pylint --disable=all --enable=unused-import $(git ls-files '*.py')
      - run: pipenv run mypy --strict $(git ls-files '*.py')
